.row {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}
body{

   background-color: #f3f3f3; color: #232323;
}
html {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    text-align: left;

  }
.highcharts-tooltip h3 {
    margin: 0.3em 0;
}
section {
    margin: 0;
    background-color: aquamarine;
    
}
#mapid { height: 180px;
}

.content {
    background: white;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
margin-top: 40px;
    
}

.inner {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 80px;
}

h1 {
    margin-bottom: 40px;
}

h3 { margin-top: 50px; }

.charts {margin-top: 50px;
}

img.london {
max-width: 100%;
    margin-bottom: 20px;
}

.area-details,.area-details-types{  background: #f7f7f7;   margin-top: 20px;     font-size: 15px; padding: 25px; padding-top:25px; }
.area-details div,.area-details-types div { margin-bottom: 10px;}

#mapid { margin-top:50px; }

.charts #container {
    margin-bottom: 20px;
}


.tweet .text{font-style:italic;}
.tweet .info{font-size:11px;
margin-bottom:  30px;}